<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"  parallel="tests" thread-count="5" verbose="1" >
    <test name="FirstTestCase">
        <classes>
            <class name="IncreaseProductQuantityTest">
                <methods>
                    <include name="shouldIncreaseProductQuantity"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="SecondTestCase">
    <classes>
        <class name="ProductAddedToCartTest">
            <methods>
                <include name="shouldCheckIfProductIsAddedToCart"/>
            </methods>
        </class>
    </classes>
</test>
    <test name="ThirdTestCase">
        <classes>
            <class name="AddProductWithMultipleSizeTest">
                <methods>
                    <include name="shouldAddProductWithMultipleSizeAndColor"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="FourthTestCase">
        <classes>
            <class name="AddProductFromFeatureCollectionTest">
                <methods>
                    <include name="shouldAddProductFromFeatureCollection"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="FifthTestCase">
        <classes>
            <class name="RemoveProductFromCart">
                <methods>
                    <include name="shouldRemoveProductFromCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>